whitebook_mule/wb_mule_rest_classic/src/main/app/wb_mule_rest_classic.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:jersey="http://www.mulesoft.org/schema/mule/jersey"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/jersey http://www.mulesoft.org/schema/mule/jersey/current/mule-jersey.xsd">
	<http:listener-config name="HTTP_Listener_Configuration"
		host="localhost" port="8088" doc:name="HTTP Listener Configuration"
		basePath="/rest-json" />
	<http:listener-config name="HTTP_Proxy_Configuration"
		host="0.0.0.0" port="8089" basePath="/rest-json" doc:name="HTTP Listener Configuration" />
	<http:request-config name="HTTP_Request_Configuration"
		host="localhost" port="8088" doc:name="HTTP Request Configuration" />

	<flow name="wb_mule_rest_service_classic">
		<http:listener config-ref="HTTP_Listener_Configuration"
			path="/*" doc:name="HTTP" />
		<jersey:resources doc:name="REST">
			<component class="nl.whitehorses.mule.rest.service.ProductServiceImpl" />
		</jersey:resources>
	</flow>

	<flow name="wb_mule_rest_proxy_classic">
		<http:listener config-ref="HTTP_Proxy_Configuration"
			path="/*" doc:name="HTTP">
		</http:listener>
		<http:request config-ref="HTTP_Request_Configuration"
			path="#[message.inboundProperties['http.request.path']]" method="#[message.inboundProperties['http.method']]"
			doc:name="HTTP">
		</http:request>
	</flow>
</mule>
