whitebook_kafka/mule-kafka/src/main/app/mule-kafka.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:apachekafka="http://www.mulesoft.org/schema/mule/apachekafka" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/apachekafka http://www.mulesoft.org/schema/mule/apachekafka/current/mule-apachekafka.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="localhost" port="8081" doc:name="HTTP Listener Configuration"/>
    <apachekafka:config name="Apache_Kafka__Configuration" bootstrapServers="localhost:9092" consumerPropertiesFile="consumer.properties" doc:name="Apache Kafka: Configuration" producerPropertiesFile="producer.properties"/>
    <flow name="mule-kafkaProducerFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/mule-kafka" allowedMethods="PUT" doc:name="HTTP"/>
        <apachekafka:producer config-ref="Apache_Kafka__Configuration" topic="MuleTopic" key="&quot;MuleProducer&quot;" doc:name="Apache Kafka"/>
    </flow>
    <flow name="mule-kafkaConsumerFlow">
        <apachekafka:consumer config-ref="Apache_Kafka__Configuration" topic="MuleTopic" partitions="1" doc:name="Apache Kafka (Streaming)"/>
        <logger message="#[payload]" level="INFO" doc:name="Logger"/>
    </flow>
</mule>
